.anticon svg{
color:gray;
width: 30px;
height: 30px;
}


.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f9f9f9;
}

.header-logo{
    object-fit: contain;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    cursor: pointer;
}

.header-icon{
    padding: 20px;
}